/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header and Navigation */
header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.profile-pic {
  width: 100px;
  border-radius: 50%;
}

nav ul {
  display: flex; /* Use Flexbox for navigation */
  justify-content: center; /* Centers the navigation items */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.active, nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Course Container */
#course-list {
  display: grid;
  gap: 10px;
  padding: 20px;
}

.course, .completed-course {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.completed-course {
  background-color: #f0f0f0;
  color: gray;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
